In [28]:
# Import all necessary packages and functions

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sqlalchemy as sa
import sql_functions as sf
import psycopg2 # for export to DBeaver: needed to get database exception errors when uploading dataframe

#pandas settings for big numbers (to not show numbers in scientific format)
pd.options.display.float_format = '{:.2f}'.format

In [29]:
population = pd.read_csv("data/Copy of population_countries - API_SP.POP.TOTL_DS2_en_csv_v2_4251154 - population_countries - API_SP.POP.TOTL_DS2_en_csv_v2_4251154.csv")
population.head(10)

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,54208.00,55434.00,56234.00,56699.00,57029.00,57357.00,57702.00,58044.00,58377.00,...,102565.00,103165.00,103776.00,104339.00,104865.00,105361.00,105846.00,106310.00,106766.00,107195.00
1,Africa Eastern and Southern,130836765.00,134159786.00,137614644.00,141202036.00,144920186.00,148769974.00,152752671.00,156876454.00,161156430.00,...,547482863.00,562601578.00,578075373.00,593871847.00,609978946.00,626392880.00,643090131.00,660046272.00,677243299.00,694665117.00
2,Afghanistan,8996967.00,9169406.00,9351442.00,9543200.00,9744772.00,9956318.00,10174840.00,10399936.00,10637064.00,...,31161378.00,32269592.00,33370804.00,34413603.00,35383028.00,36296111.00,37171922.00,38041757.00,38928341.00,39835428.00
3,Africa Western and Central,96396419.00,98407221.00,100506960.00,102691339.00,104953470.00,107289875.00,109701811.00,112195950.00,114781116.00,...,370243017.00,380437896.00,390882979.00,401586651.00,412551299.00,423769930.00,435229381.00,446911598.00,458803476.00,470898870.00
4,Angola,5454938.00,5531451.00,5608499.00,5679409.00,5734995.00,5770573.00,5781305.00,5774440.00,5771973.00,...,25107925.00,26015786.00,26941773.00,27884380.00,28842482.00,29816769.00,30809787.00,31825299.00,32866268.00,33933611.00
5,Albania,1608800.00,1659800.00,1711319.00,1762621.00,1814135.00,1864791.00,1914573.00,1965598.00,2022272.00,...,2900401.00,2895092.00,2889104.00,2880703.00,2876101.00,2873457.00,2866376.00,2854191.00,2837849.00,2811666.00
6,Andorra,13410.00,14378.00,15379.00,16407.00,17466.00,18542.00,19646.00,20760.00,21886.00,...,82427.00,80770.00,79213.00,77993.00,77295.00,76997.00,77008.00,77146.00,77265.00,77354.00
7,Arab World,92197715.00,94724540.00,97334438.00,100034191.00,102832792.00,105736428.00,108758634.00,111899335.00,115136161.00,...,371437642.00,379696477.00,387899835.00,396028301.00,404042892.00,411942825.00,419851989.00,427870273.00,436080728.00,444517783.00
8,United Arab Emirates,92417.00,100801.00,112112.00,125130.00,138049.00,149855.00,159979.00,169768.00,182620.00,...,9141598.00,9197908.00,9214182.00,9262896.00,9360975.00,9487206.00,9630966.00,9770526.00,9890400.00,9991083.00
9,Argentina,20481781.00,20817270.00,21153042.00,21488916.00,21824427.00,22159644.00,22494031.00,22828872.00,23168268.00,...,41733271.00,42202935.00,42669500.00,43131966.00,43590368.00,44044811.00,44494502.00,44938712.00,45376763.00,45808747.00

In [30]:
##population

# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine
# create a variable called engine using the get_engine function
engine = get_engine()

# Set the schema to your capstone schema and the table_name variable to 'fish_catch' etc + your initials/group number

schema = 'capstone_fish_are_friends' # capstone schema example capstone_fish_are_friends
table_name = 'population' # Example: 'carriers_pw' for Philipp Wendt


# Write records stored in a dataframe to SQL database using to_sql() function
if engine!=None:
   try:
      population.to_sql(name=table_name, # Name of SQL table variable
                        con=get_engine(), # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
      print(f"The {table_name} table was imported successfully.")
    # Error handling
   except (Exception, psycopg2.DatabaseError) as error:
      print(error)
      engine = None
else:
   print('No engine')

(psycopg2.OperationalError) could not translate host name "host" to address: nodename nor servname provided, or not known

(Background on this error at: https://sqlalche.me/e/14/e3q8)